<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        [excludeDays]="excludeDays"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        [excludeDays]="excludeDays"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>
      {{ viewDate | calendarDate:(view +
      'ViewTitle'):'en':weekStartsOn:excludeDays }}
    </h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = 'month'"
        [class.active]="view === 'month'"
      >
        Month
      </div>
    </div>
  </div>
</div>
<br/>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    (dayClicked)="showDialog = !showDialog">
  </mwl-calendar-month-view>
</div>




<app-dialog [(visible)]="showDialog">

  <form name="form" #f="ngForm" (ngsSubmit)="f.form.valid && saveEvent()" novalidate class="event-form" >

    <!-- start event -->
    <div class="form-group">
      <label for="start">Start event</label>
      <input type="text"
             id="start"
             class="form-control"
             name="start"
             placeholder="event start"
             [(ngModel)]="model.start"
             #name="ngModel"
             [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
             required/>
      <!-- input validation group -->
      <div *ngIf="f.submitted && name.invalid" class="invalid-input">
        <!-- individual validation errors -->
        <div *ngIf="name.errors?.required">Field is required</div>
      </div>
    </div>

    <!-- end event -->
    <div class="form-group">
      <label for="end">Finish event</label>
      <input type="text"
             id="end"
             class="form-control"
             name="end"
             placeholder="event end"
             [(ngModel)]="model.end"
             #name="ngModel"
             [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
             required/>
      <!-- input validation group -->
      <div *ngIf="f.submitted && name.invalid" class="invalid-input">
        <!-- individual validation errors -->
        <div *ngIf="name.errors?.required">Field is required</div>
      </div>
    </div>

    <!-- title event -->
    <div class="form-group">
      <label for="title">Title event</label>
      <input type="text"
             id="title"
             class="form-control"
             name="title"
             placeholder="event title"
             [(ngModel)]="model.title"
             #name="ngModel"
             [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
             required/>
      <!-- input validation group -->
      <div *ngIf="f.submitted && name.invalid" class="invalid-input">
        <!-- individual validation errors -->
        <div *ngIf="name.errors?.required">Field is required</div>
      </div>
    </div>

    <button type="submit" class="btn btn-info pull-right">
      <i class="fa fa-envelope-o"></i>
      <span> Submit event</span>
    </button>



  </form>

</app-dialog>



<!--<div [ngSwitch]="view">-->
  <!--<mwl-calendar-month-view-->
    <!--*ngSwitchCase="'month'"-->
    <!--[viewDate]="viewDate"-->
    <!--(dayClicked)="dayClicked($event.day)">-->
  <!--</mwl-calendar-month-view>-->
<!--</div>-->

