<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        [excludeDays]="excludeDays"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        [excludeDays]="excludeDays"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>
      {{ viewDate | calendarDate:(view +
      'ViewTitle'):'en':weekStartsOn:excludeDays }}
    </h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = 'month'"
        [class.active]="view === 'month'"
      >
        Month
      </div>
    </div>
  </div>
</div>
<br/>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    (dayClicked)="showDialog = !showDialog">
  </mwl-calendar-month-view>
</div>




<app-dialog [(visible)]="showDialog">
  <h1>hello world</h1>
  <button (click) ="showDialog = !showDialog" class="btn"> Close</button>
</app-dialog>



<!--<div [ngSwitch]="view">-->
  <!--<mwl-calendar-month-view-->
    <!--*ngSwitchCase="'month'"-->
    <!--[viewDate]="viewDate"-->
    <!--(dayClicked)="dayClicked($event.day)">-->
  <!--</mwl-calendar-month-view>-->
<!--</div>-->

